.css-grid-container {
  @include grid(grid, repeat(3, 1fr), repeat(3, 1fr), 5px, stretch, stretch, stretch, stretch, 0, 0);
  @include grid-areas(
    'header header header'
    'sidebar-one main sidebar-two'
    'footer footer footer'
  );

  > div {
    color: $white;
    font-size: 20px;
    text-align: center;
  }

  @for $i from 1 through 12 {
    .item-#{$i} {
      $bg-red: random(256) - 1;
      $bg-green: random(256) - 1;
      $bg-blue: random(256) - 1;
      $bg: rgb($bg-red, $bg-green, $bg-blue);

      background-color: $bg;
    }
  }

  .item-1 {
    @include grid-align-item(justify, stretch);
    @include grid-align-item(align, stretch);
  }

  .item-2 {
    @include grid-area-item(sidebar-two);
  }
}
