.debug {
  .column, header, footer {
    border: 1px solid $debug-border;
  }

  *[style] {
    border: 5px solid $debug-border;
  }

  a:not([href]),
  a[href='#'],
  a[href=''],
  a[href*='javascript:void(0)'],
  a:empty,
  button:empty {
    border: 5px solid $debug-border;
  }

  img:not([alt]),
  img[alt=''] {
    border: 5px solid $debug-border;
  }

  &:not([lang]),
  &[lang=''] {
    border: 5px solid $debug-border;
  }

  head,
  head *:not(title) {
    display: block;
  }

  meta[charset]:not([charset='UTF-8'])::before {
    color: $debug-border;
    content: ' • Bad charset: ' attr(charset) ' ';
    display: block;
  }

  meta[charset]:not(:first-child)::after {
    color: $debug-border;
    content: ' • Bad charset: not first child';
  }

  meta[name='viewport'][content*='user-scalable=no']::after,
  meta[name='viewport'][content*='maximum-scale']::after,
  meta[name='viewport'][content*='minimum-scale']::after {
    color: $debug-border;
    content: ' • Bad viewport: ' attr(content);
  }

  script[type='text/javascript']::before {
    color: $debug-border;
    content: ' • Unnecessary type attribute on script: ' attr(type);
  }

  link[rel='stylesheet'][type='text/css']::before {
    color: $debug-border;
    content: ' • Unnecessary type attribute on link: ' attr(type);
  }


  input:not([id]),
  select:not([id]),
  textarea:not([id]),
  input:not([name]),
  select:not([name]),
  textarea:not([name]) {
    border: 5px solid $debug-border;
  }

  label:not([for]) {
    border: 5px solid $debug-border;
  }

  form:not([name]):not([id]) {
    border: 5px solid $debug-border;
  }
}
